<h1>Ciclo de vida de Componentes</h1>

<p>Esta pagina hace de componente padre.</p>

<div class="mb-3">
  <label for="message" class="form-label">Mensaje</label>
  <div class="input-group">
    <input
      #inputMessage
      id="message"
      type="text"
      class="form-control"
      placeholder="Escribe tu mensaje aquí"
    />
    <button (click)="onAddMessage(inputMessage)" class="btn btn-primary">
      Add Message
    </button>
    <button (click)="onClearHistory()" class="btn btn-danger">
      Clear Histroy
    </button>
  </div>
</div>

<div class="mb-3">
  <button (click)="onForceChange()" class="btn btn-outline-warning">
    Force onchange
  </button>
</div>

<h5>History</h5>
<div class="mb-3 scrollable-content">
  <pre *ngFor="let item of statusMessage">{{ item | json }}</pre>
</div>

<ng-container *ngFor="let person of listPersons; let i = index">
  <cycle-item [person]="person" (onChangeCycle)="fillStatusMessage($event)" />
  <button (click)="onDelete(i)" class="mb-3 mt-3 btn btn-warning">
    Delete
  </button>
</ng-container>

<div *ngIf="listPersons.length > 0" class="mb-3 input-group">
  <input class="form-control" type="text" [(ngModel)]="listPersons[0].name" />
</div>

<h5>List Messages</h5>
<pre>{{ listPersons | json }}</pre>
